################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Bin/Windows
/Make/Windows/LPM.VC.db
/Make/Windows/LPM.VC.VC.opendb
/Make/Windows/packages/googletest.v140.windesktop.static.rt-dyn.1.7.0.1
/Make/Windows/PerformanceTests/TestResults.txt
/Bin/TestResults.txt
/Other/LPMDataViz/bin/Debug
/Other/LPMDataViz/obj/Debug
/Other/LPMDataViz
/Other/LPMDataViz2
/Make/Windows/PerformanceTests/ListsLenghts.txt
/Other/LongMasksRemover/bin
/Other/LongMasksRemover/obj
/Other/LPMDataViz3/bin
/Other/LPMDataViz3/obj
/Make/Windows/PerformanceTests/ArrayTestResults.txt
/Make/Windows/PerformanceTests/RTreeTestResults.txt
/Make/Windows/PerformanceTests/TreeTestResults.txt
/Results
/Results.zip
