################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Bin/Windows
/Make/Windows/LPM.VC.db
/Make/Windows/LPM.VC.VC.opendb
/Make/Windows/packages/googletest.v140.windesktop.static.rt-dyn.1.7.0.1
